/* este es un comentario*/

/*Selector tipo etiqueta*/
body {background-color: rgb(33, 32, 34);
font-size: 19px;
color: rgb(235, 213, 213);
font-family: "Josefin Sans", sans-serif;}


header {
    background-color: rgb(141, 133, 148);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    color: rgb(245, 245, 245);
    float:inline-starts;
    padding-top: 30px;
    flex-wrap: wrap;
    margin-left: 10px;
}
    
h3 {
    margin-left: 10px;
}       


h2{color: rgb(196, 217, 223);}


/*Selector de tipo ID*/


.estilo-seccion{
    background-color: rgb(141, 133, 148); 
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
}

/*Selector avanzado*/
.estilo-seccion ul li {
    list-style: none;
    color: azure;
    
}

nav ul li {
    list-style: none;
    color: azure;
    font-size: 30px;
    display: inline;
    background-color: rgba(141, 133,148);
    padding: 10px;
    border-radius: 3px;
    margin-left:  7%;
       
    
}

img{
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}
hr {
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 650px) {
    img{
        width: 300px;
        height: 150px;
        
    }

}

footer {
    padding-top: 20px;
}
    

.profile-description {
    background-color: rgba(141, 133, 148);
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}
